.text__h1{
    color: $secondary;
    font-size: 1.8rem;
    margin-bottom: 6rem;
    line-height: 3rem;
    font-weight: 700;
}

.text__h3{
    color: $dark1;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1rem 0;
}

.text__h2{
    color: $white;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}
.text__p{
    color: $dark1;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    margin-top: .5rem;
}
.text__amount{
    color: $primary;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}